*{ font-family: Calibri, Arial, Helvetica, sans-serif;
   color: grey; }
   
h2, h3, p, ul, table{
	text-align: left; }
	
h2{
	font-size: 20px;
	font-weight: 500; }
	
h3{
	font-size: 16px; }
	
.Computer_Skills>ul>li{
	display: inline-block;
	vertical-align: top;
	width: 250px; }
	
a, a:hover, .Website_Links>ul>li>a.on, .Website_Links>ul>li>a:hover{
	color: black; }
	
a, .Website_Links>nav>ul>li>a{
	text-decoration: none; }
	
h3, a:hover, .Name, .Header>h1, .Website_Links>nav>ul>li>a.on, .Website_Links>nav>ul>li>a:hover{
	font-weight: bold; }
	
a:active{
	color: grey; }
	
h2, h3, .Header>h1{
	color: #606060; }
	
h1, h2, h3, p, ul, table, .Header, .Header>p, .Website_Links{
	min-width: 150px; 
	margin: 10px auto 10px auto; }
	
h1, h2, h3, p, ul, table{
	max-width: 730px; }
	
.Header, .Header>p, .Website_Links{
	max-width: 900px; }
	
body, .Header, .Header>p, .Website_Links>nav>ul{
	text-align: center; }
	
.Website_Links>nav>ul>li{ 
	display: inline; 
	margin: auto 7px auto 7px; }

nav select {
	display: none; }

@media (max-width: 765px) {
	nav ul     { display: none; }
	nav select { display: inline-block; }
}

@media (max-width: 500px) {
	h1 { font-size: 30px; }
	h2 { font-size: 18px; }
	h3, p, li { font-size: 14px; }
}

@media (max-width: 300px) {
	h1 { font-size: 27px; }
	h2 { font-size: 15px; }
	h3, p, li { font-size: 11px; }
}
